services:
  app:
    build:
      context: ./backend
    container_name: sr_app
    working_dir: /var/www/html
    env_file:
      - ./.env
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - mysql

  nginx:
    image: nginx:1.27-alpine
    container_name: sr_nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: sr_mysql
    env_file:
      - ./.env
    environment:
      MYSQL_DATABASE: sr_clothing
      MYSQL_USER: sr_user
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  node:
    image: node:20-alpine
    container_name: sr_node
    working_dir: /app
    command: sh -c "npm install && npm run dev -- --host"
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    profiles:
      - frontend

volumes:
  mysql_data:
